:root {
    --jay-blue: #00549a;
    --mp-fuchsia: #d61c5b;
    --mp-tang: #f9763d;
    --mp-light-blue: #dee5f0;
    --mp-slate-grey: #b0aeb2;
    --pink: #e872a1;
}

html {
    font-size: 14px;
}

.hero {
    padding: 2rem 1rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 50%, rgba(232,114,161,0) 70%), url(./missyou-mobile.jpg);
    background-position: 50% 100%;
    background-size: 100vw auto;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.hero p, .callout p {
    font-size: 1.25rem;
}

.callout {
    padding: 2rem 1rem;
    background: linear-gradient(180deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 40%, rgba(232,114,161,0) 60%), url(./valentines-mobile.jpg);
    background-position: 50% 100%;
    background-size: 100vw auto;
    background-repeat: no-repeat;
    min-height: 100vh;
}


@media screen and (min-width:576px) {
    .hero {
        background: linear-gradient(0deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 40%, rgba(232,114,161,0) 50%), url(./missyou-mobile.jpg);
        background-position: 50% 0%;
        background-size: 100vw auto;
        background-repeat: no-repeat;
        min-height: 75vh;
    }
    
    .callout {
        background: linear-gradient(180deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 25%, rgba(232,114,161,0) 50%), url(./valentines-mobile.jpg);
        background-position: 50% 100%;
        background-size: 100vw auto;
        background-repeat: no-repeat;
        min-height: 90vh;
    }
}

@media screen and (min-width:768px) {
    html {
        font-size: 15px;
    }

    .hero {
        padding: 2rem 1rem;
        background: linear-gradient(90deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 30%, rgba(232,114,161,0) 40%), url(./missyou-tablet.jpg);
        background-position: 100% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 60vh;
    }

    .callout {
        background: linear-gradient(270deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 40%, rgba(232,114,161,0) 60%), url(./valentines-tablet.jpg);
        background-position: 0% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: unset;
    }
}

@media screen and (min-width:992px) {
    html {
        font-size: 16px;
    }

    .hero {
        background: linear-gradient(90deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 50%, rgba(232,114,161,0) 60%), url(./missyou-tablet.jpg);
        background-position: 100% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .callout {
        background: linear-gradient(270deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 40%, rgba(232,114,161,0) 60%), url(./valentines.jpg);
        background-position: 0% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:1200px) {
    .hero {
        background: linear-gradient(90deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 50%, rgba(232,114,161,0) 60%), url(./missyou.jpg);
        background-position: 100% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .callout {
        background: linear-gradient(270deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 55%, rgba(232,114,161,0) 70%), url(./valentines.jpg);
        background-position: 0% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:1600px) {
    .callout {
        background: linear-gradient(270deg, rgba(232,114,161,1) 0%, rgba(232,114,161,1) 70%, rgba(232,114,161,0) 80%), url(./valentines.jpg);
        background-position: 0% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}